@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

/*-------HEADER-------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  width: 763px;
  display: block;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .header__search {
    width: 344px;
  }
}

.header__search input#search-bar {
  margin: 0 15px;
  width: 100%;
  height: 40px;
  padding: 0 39px;
  font-size: 14px;
  border: 1px solid #ebebf1;
  outline: none;
  border-radius: 5px;
  -webkit-text-decoration: #bbc4d6;
          text-decoration: #bbc4d6;
}

.header__search input#search-bar:focus {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.header__search input#search-bar:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.header__search input#search-bar:focus::-moz-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.header__search input#search-bar:focus:-ms-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.header__search .search-icon {
  position: relative;
  width: 24px;
  height: 24px;
  left: -714px;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 5.8;
  color: #768298;
  border-left: 1px solid #ebebf1;
}

.header__profile a {
  color: inherit;
}

.header__profile h2 {
  padding-left: 19px;
}

.header__profile .profile-photo {
  padding-left: 10px;
}

/*-----MAIN-----*/
.partners h1 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 46px;
}

.partners__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__img {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__llink :hover {
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
          box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  margin: 0 15px 15px 0;
}

.partners__link a img {
  border: 0;
  outline: 0;
}
